html{
  margin: 0 auto;
  }
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  display:flex;
  z-index: 20;
  background-color:white;
  justify-content: space-between;<!-- este hace que el left se vaya a la izq y el right a la derecha -->
  margin:0 auto;
}
.cuerpo {
overflow: scroll;
}
.mytimes{
  color: Mediumaquamarine;
}
nav {
  display:inline-flex;
}
nav li {
  display: inline-block;
}
.logo .mytimes {
  display: inline-flex;
}
.left {
  display: inline-flex;
}
.right {
  display: inline;
  flex-direction:row;
}
.logo span{
  text-align: center;
}
