body{
display: flex;
margin: 0 auto;
flex-direction: column;
  }
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 98%;
  position: fixed;
  padding: 20px;
  display :flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 0 auto;
  z-index: 20;
  background-color: white;
}
.left {
  display: flex;
  width:50%;
/* flex*/}
.logo{
  display: flex;
  align-items: flex-start;
}
.header .logo p{
  padding-top: 10px;
  color:Aquamarine;
}
.right {
  display: flex;
  text-align: center;
}
.right nav{
}
.right nav ul li{
  display: inline-block;
}
.logo p{
  display: inline-block;
  text-align: center;
}
.cuerpo {
  display:flex;
  overflow: scroll;
  z-index: 0;
  position: relative;
  top:113px;
  width:98%;
}
.columnlarge {
  display: flex;
  max-width: 630px;
  flex-direction: column;
  padding: 20px;
}
