body{
display: flex;
margin: 0 auto;
  }
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 98%;
  position: fixed;
  padding: 20px;
  display :flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 0 auto;
  z-index: 20;
  background-color: white;
}
.left {
  display: flex;
  width:50%;
/* flex*/}
.logo{
  display: flex;
  align-items: flex-start;
}
.header .logo p{
  padding-top: 10px;
  color:Aquamarine;
}
.right {
  display: flex;
  text-align: center;
}
.right nav{
}
.right nav ul li{
  display: inline-block;
}
.logo p{
  display: inline-block;
  text-align: center;
}
.cuerpo {
  display:flex;
  overflow: scroll;
  z-index: 0;
  position: relative;
  top:113px;

}
.column.large {
  display: flex;
  flex-shrink: 1;
  width: 630px;
}

.column.medium {
  display: flex;
  flex-shrink: 1;
  width: 300px;
}

.column.small {
  display: flex;
  flex-shrink: 1;
  width: 240px;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.textofoto{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.imagen1 .textofoto p{
  font-size: 40px;
}
.párrafo6 p{
  font-size: 16px;
  font-weight: bold;
}
.párrafonews p{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}
